body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./background.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em;
    border-radius: 10px;
}

#services ul {
    list-style: none;
    padding: 0;
}

#services ul li {
    margin: 0.5em 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 0.5em;
    color: #333;
    display: block;
}

form input, form textarea {
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

form button {
    padding: 0.7em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 1em 0;
}
